@page
@model IdentityServer.Pages.Login.Index

<div>
    <div class="row">

        @if (Model.View.EnableLocalLogin)
        {
            <div class="col-sm-6 offset-3">
                <div class="card">
                    <div class="card-header">
                        <h2>Login</h2>
                    </div>

                    <div class="card-body">
                        <form asp-page="/Account/Login/Index">
                            <input type="hidden" asp-for="Input.ReturnUrl" />

                            <div class="form-group">
                                <label asp-for="Input.Username"></label>
                                <input class="form-control" placeholder="Username" asp-for="Input.Username" autofocus>
                                <span asp-validation-for="Input.Username" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Input.Password"></label>
                                <input type="password" class="form-control" placeholder="Password" asp-for="Input.Password"
                                    autocomplete="off">
                                <span asp-validation-for="Input.Password" class="text-danger"></span>
                            </div>

                            @if (Model.View.AllowRememberLogin)
                            {
                                <div class="form-group">
                                    <div class="form-check">
                                        <input class="form-check-input" asp-for="Input.RememberLogin">
                                        <label class="form-check-label" asp-for="Input.RememberLogin">
                                            Remember My Login
                                        </label>
                                    </div>
                                </div>
                            }
                            <div class="row">
                                <div class="col">
                                    <button class="btn btn-primary w-100" name="Input.Button" value="login">Login</button>
                                </div>
                                <div class="col">
                                    <button class="btn btn-secondary w-100" name="Input.Button"
                                        value="cancel">Cancel</button>
                                </div>
                            </div>

                            <a class="pt-3 d-block text-center" asp-page="../Register/Index"
                                asp-route-returnUrl="@Model.Input.ReturnUrl">
                                New User? Register here
                            </a>
                        </form>
                    </div>
                </div>
            </div>
        }

        @if (Model.View.VisibleExternalProviders.Any())
        {
            <div class="col-sm-6 offset-3">
                <div class="card">
                    <div class="card-header">
                        <h2>External Account</h2>
                    </div>
                    <div class="card-body">
                        <ul class="list-inline">
                            @foreach (var provider in Model.View.VisibleExternalProviders)
                            {
                                <li class="list-inline-item">
                                    <a class="btn btn-secondary" asp-page="/ExternalLogin/Challenge"
                                        asp-route-scheme="@provider.AuthenticationScheme"
                                        asp-route-returnUrl="@Model.Input.ReturnUrl">
                                        @provider.DisplayName
                                    </a>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        }

        @if (!Model.View.EnableLocalLogin && !Model.View.VisibleExternalProviders.Any())
        {
            <div class="alert alert-warning">
                <strong>Invalid login request</strong>
                There are no login schemes configured for this request.
            </div>
        }
    </div>
    <div class="row mt-3 justify-content-center">
        <div class="col-10">
            <partial name="_ValidationSummary" />
        </div>
    </div>
</div>